<html>
<head>
<script src="https://code.angularjs.org/2.0.0-snapshot/angular2.min.js"></script>
<script>
var app = angular.module("myApp", []);
app.controller("myCtrl", function($scope) {
$scope.firstName = "John";
$scope.lastName = "Doe";
});
</script>
</head>
<body ng-app="myApp">
<ion-header>
<ion-navbar>
<ion-title>Ciao Mondo</ion-title>
</ion-navbar>
</ion-header>
<ion-content padding>
<div ng-app="myApp" ng-controller="myCtrl">
{{firstName + " " + lastName}}
</div>
</ion-content>
</body>
</html>